body{
	background-color: #8B0000;
}
.in{ color: #CCFF00;    
      width: 300px;
      margin: auto;
      margin-top: 40px;
      text-align: center;
      border: solid 1px white;
      border-radius: 10px;
      padding-bottom: 50px;
	padding-left: 20px;
	padding-right: 40px;
	padding-top: 30px;
	font-size: 15px;	
  }
h2{text-align: center;
}
input{
	width: 150px;
	margin: 10px 0;
	display: flex;
   }
   label:hover{color: blue;
 }
  .submit{
   	cursor:pointer ;
   	display: inline;
   	width:100px ;
   }
 .lg{margin-left: 15px;
 	margin-top: 10px;
 	
 }
 label{
 	display: flex;
 }